<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <title>
        {% if page.title %}
            {{ page.title }}
        {% else %} 
            {{ site.name }}
        {% endif %}
    </title>

    {% if site.highlighter %}
        <link rel='stylesheet' href={{ '/assets/style.css' | prepend:site.baseurl }}  type='text/css'>
    {% endif %}
    
    <meta name='viewport' content='width=device-width, initial-scale=1'>

</head>

<body style='background-color:#dfdfdf'>
  {% include header.html %}
  <div id='contents'>
    {{ content }}
  </div>
</body>
</html>
