---
layout: default
header: Home
---

<h3>Project synopsys</h3>
{% capture md_include %}{% include goals.md %}{% endcapture %}{{ md_include | markdownify }}
<h3>Output</h3>
{% include output.html type="" %}
